@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

* {
    margin: 0;
    font-family: 'Martian Mono';
}

body {
    background: linear-gradient(90deg, #080F2B, #9290C2);
}

::-webkit-scrollbar {
    width: 8px; 
}
  
::-webkit-scrollbar-track {
    background: #9290C2;
}
  
::-webkit-scrollbar-thumb {
    background: #080F2B;
    border-radius: 6px;
}